<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create product</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="profile">
            <img src="../../img/logo.jpg" alt="">
        </div>
        <form action="" id="search-products">
            <input type="text" placeholder="Search Product..." />
            <i class="material-icons">search</i>
        </form>
        <div class="nav-right">
            <ul>
                <li><a href="../customer/customer.html">Customer</a> </li>
                <li><a href="seller.html">Seller</a> </li>
            </ul>
        </div>
           
    </nav>
    
    
    <div class="create" style ="display: none">
        <div class="div_create"></div>
        <dialog open>
            
            <h2>Create product</h2>
            
            <div class="name">
                <label for="Name">Name</label>
                <input type="text" id="name_product">
               
            </div>
            <div class="price">
                <label for="price">Price</label>
                <input type="number" id="price_product">
                
            </div>
            <div class="image_product">
                <label for="image">Chooce image</label>
                <input type="text" id="image_product">
               
            </div>
            <div class="image_product">
                <label for="">Gender</label>
                <select name="" id="gender">
                    
                    <option value="men">Man</option>
                    <option value="women">Women</option>
                </select>
            </div>
            
            <div class="btn_create">
                
                <button id="cancel" onclick="onCancel()">CANCEL</button>
                <button id="btnCreate"onclick = "createOrEditProduct()">Create</button>
            </div>
        </dialog> 
    </div>
    <div class="all_product">
        <h2>All Prodcuts</h2>
        <button id="create" onclick="openDialogToCreate()">Create</button>
        <div class="display_product">
           
           
        </div>
        
    </div>   
</body>
<script src="seller.js"></script>
</html>